<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.Element_MaintainMapper">
    <select id="GetElementMaintainByElementId"  resultType="com.example.entity.Element_Maintain">
        select * from element_maintain_info where equipment_element_id = #{equipment_element_id}
    </select>

    <insert id="AddElementMaintain" parameterType="com.example.entity.Element_Maintain">
        insert into element_maintain_info(equipment_element_id,user_id,element_replace_time,element_maintain_method)
        valus(#{equipment_element_id},#{user_id},#{element_replace_time},#{element_maintain_method})
    </insert>

    <delete id="DeleteElementMaintain">
        delete from element_maintain_info where element_maintain_id = #{element_maintain_id}
    </delete>
</mapper>